/* @import 'tailwindcss/base'; */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Lato;
  src: url('fonts/Lato-Regular.ttf');
}

h1 {
  font-family: Lato;
}

h3{
  font-family: Lato;
}

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Lato;
}

form {
  font-family: Lato;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #BEE2B5;
  padding: 10px;
}

.topnav a{
  color: #000;
  text-decoration: none;
  padding: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

::placeholder {
  opacity: 1;
  color: #000;
}